
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Help page</h1>
    <div>
      {% if access_record %}
        <table>
          <thead>
            <th>User Name</th>
            <th>Email</th>
          </thead>
          {% for acc in access_record %}
            <tr>
              <td>{{ acc.first_name }}</td>
              <td>{{ acc.email }}</td>
            </tr>
          {% endfor %}
      {% else %}
        <p>No records found</p>
      {% endif %}
        </table>
    </div>
      
  </body>
</html>

